@page "/todo"

@using blazorServerWithDB.Data
@using blazorServerWithDB.Models
@using Microsoft.Data.SqlClient
@inject ITodoService todoService

<h1>Todo List</h1>

<p>My Todo list</p>

<!--FILTER PART
****************-->
status:
<select @onchange="StatusSelected">
    @foreach (string aStatus in Todoes.statusFilterList)
    {
        <option>@aStatus</option>
    }
</select>
Sort:
<select @onchange="orderSelected">
    @foreach (string aColumnTitle in Todoes.ColumnNameList)
    {
        string aColumnName = aColumnTitle.Replace(" ", "");  //remove spaces - this will convert "Due Date" to be "DueDate" which is identical to the field name
        <option value="@aColumnName">@aColumnTitle</option>
    }
</select>
<button class="btn btn-primary" @onclick="AddTodo">Add Todo</button>


<!--Add TO DO ITEM FORM
************************-->
@if (showTodoForm)
{
<div style="position:fixed;left:200px;top:300px;z-index:10">
    <TodoForm addOrEdit="@addOrEdit" aTodo="@aTodo" TodoFormFinished="@TodoFormFinished"></TodoForm>
</div>
}

<TodoModalForm showForm="@showModalForm" ModalFormFinished="@ModalFormFinished" 
               addOrEdit="@addOrEdit" aTodo="@aTodo"></TodoModalForm>

<!--TO DO REPORT
****************-->
@if (todoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>start date</th>
                <th>due date</th>
                <th>status</th>
                <th>status date</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todoList)
            {
                <tr>
                    <td style="cursor: pointer" @onclick="@(e=>EditTodo(todo.Id))"><span class="oi oi-pencil"></span></td>
                    <td>@todo.Id</td>
                    <td>@todo.StartDate.ToShortDateString()</td>
                    <td>@todo.DueDateSt</td>
                    <td>@todo.Status</td>
                    <td>@todo.StatusDate.ToShortDateString()</td>
                    <td>@todo.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
