@page "/todo"

@using blazorServerWithDB.Data
@using blazorServerWithDB.Models
@using Microsoft.Data.SqlClient
@using Blazorise.DataGrid
@inject ITodoService todoService
@using Flexor   @*not enough documentation to use it*@

<h1>Todo List</h1>

<p>My Todo list</p>

<!--FILTER PART
****************-->

<div style="display:flex; flex-direction:row">
    <Field Style="width:300px;margin-right:20px;">
        <FieldLabel>Status Filter</FieldLabel>
        <Select TValue="string" SelectedValue="filterStatus" SelectedValueChanged="StatusSelected">
            @foreach (string aStatus in Todoes.statusFilterList)
            {
                <SelectItem Value="@aStatus">@aStatus</SelectItem>
            }
        </Select>
    </Field>

    <Field Style="width:300px;">
        <FieldLabel>Sort Field</FieldLabel>
        <Select TValue="string" SelectedValue="orderBy" SelectedValueChanged="OrderSelected">
            @foreach (string aColumnTitle in Todoes.ColumnNameList)
            {
                string aColumnName = aColumnTitle.Replace(" ", "");  //remove spaces - this will convert "Due Date" to be "DueDate" which is identical to the field name
                <SelectItem Value="@aColumnName">@aColumnName</SelectItem>
            }
        </Select>
    </Field>

</div>

<Button Color="Color.Primary" Clicked="@AddTodo">Add Todo</Button>

<!--Add/EDIT TO DO ITEM MODAL FORM
***********************************-->
<TodoModalForm showForm="@showModalForm" ModalFormFinished="@ModalFormFinished"
               addOrEdit="@addOrEdit" aTodo="@aTodo"></TodoModalForm>



<!--TO DO REPORT
****************-->
<APaginator totalRecords="@totalTodoes" pageSize="@pageSize" currentPage="@currentPage" PaginatorChanged="OnPaginatorChanged"></APaginator>


@if (todoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>start date</th>
                <th>due date</th>
                <th>status</th>
                <th>status date</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todoList)
            {
                <tr>
                    <td style="cursor: pointer" @onclick="@(e=>EditTodo(todo.Id))"><span class="oi oi-pencil"></span></td>
                    <td>@todo.Id</td>
                    <td>@todo.StartDate.ToShortDateString()</td>
                    <td>@todo.DueDateSt</td>
                    <td>@todo.Status</td>
                    <td>@todo.StatusDate.ToShortDateString()</td>
                    <td>@todo.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
@*<DataGrid TItem="Todoes" Data="@todoList" PageSize="15" ShowPager="true">
        <DataGridColumn TItem="Todoes" Field="@nameof(Todoes.Id)" Caption="Id"  />
        <DataGridDateColumn TItem="Todoes" Field="@nameof(Todoes.StartDate)" ></DataGridDateColumn>
        <DataGridColumn TItem="Todoes" Field="@nameof(Todoes.StartDate)" Caption="Start Date">
            <DisplayTemplate>
                @($"{ (context as Todoes).StartDate.ToShortDateString()}")
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Todoes" Field="@nameof(Todoes.DueDate)" Caption="Due Date">
            <DisplayTemplate>
                @($"{ (context as Todoes).DueDate?.ToShortDateString()}")
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Todoes" Field="@nameof(Todoes.Status)" Caption="Status" Filterable="true"></DataGridColumn>
        <DataGridColumn TItem="Todoes" Field="@nameof(Todoes.StatusDate)" Caption="Status Date">
            <DisplayTemplate>
                @($"{ (context as Todoes).StatusDate.ToShortDateString()}")
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Todoes" Field="@nameof(Todoes.Description)" Caption="Description"></DataGridColumn>
    </DataGrid>*@
